/* Grundlegende Stile */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightcyan;
  color: #333;
}
header {
  background-color: #6200ea;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
main {
  padding: 20px;
}
.projekte {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.projekt {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.projekt:nth-child(odd) {
  background-color: #e0ffe0;;
}
.projekt:nth-child(even) {
  background-color: #fff4cc;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}